<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DataBaseConnectionString"
		connectionString="Host=26.170.202.34;Port=5432;Database=life_designer;Username=postgres;Password=22848" 
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	
	
</configuration>