<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DataBaseConnectionString"
		connectionString="Host=localhost;Port=5432;Database=life_designer;Username=postgres;Password=22848" 
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	
	
</configuration>